/*
  Artevelde hogeschool CSS Reset v0.2
  Adapted version from Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/
*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  min-height: 100%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Styling */
html {
  font-family: sans-serif;
}

header {
  background-color: hsl(0, 0%, 90%);
  padding: 1rem;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  list-style-type: none;
  padding-left: 0;
}

nav a {
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-decoration: underline;
  text-decoration-thickness: 0.3ex;
  text-underline-offset: 0.5ex;

  &:hover,
  &:focus {
    color: hsl(0, 0%, 30%);
    text-decoration: none;
  }
}

main {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 1rem;
  padding-block: 5rem;
}
