body {
  font-family: sans-serif;
  background-color: silver;
  max-width: 60rem;
  margin-inline: auto;
  padding: 1rem;
}

.header,
.footer {
  text-align: center;
  padding: 2rem;
}

.box {
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.box:hover {
  color: white;
  background-color: black;
}

/* Layout met grid */
.grid {
  display: grid;
  gap: 1rem;
}

@media (min-width: 45rem) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .large {
    grid-column: 1 / 3;
  }
}

@media (min-width: 60rem) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .large {
    grid-row: 1 / 3;
  }
}

/* Layout met flexbox */
.flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 45rem) {
  .flex {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .box {
    flex-basis: 20rem;
    flex-grow: 1;
  }

  .large {
    flex-basis: 40rem;
  }
}

@media (min-width: 60rem) {
  .box {
    flex-basis: 15rem;
  }
}

/* Positioning */
.label {
  background-color: red;
  color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;

  position: absolute;
  top: 0;
  right: 0;
}

.box {
  position: relative;
}

.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem;
  background-color: yellow;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: silver;
  z-index: 1;
}
