body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(21, 100%, 68%);
  background-color: hsl(12, 58%, 15%);
}

h2 {
  font-family: "Instrument Serif", serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;

  /* @media (min-width: 40rem) {
    font-size: 3rem;
  }

  @media (min-width: 60rem) {
    font-size: 4rem;
  } */
}

@media (min-width: 40rem) {
  h2 {
    font-size: 3rem;
    text-align: center;
  }
}

@media (min-width: 60rem) {
  h2 {
    font-size: 4rem;
  }
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

@media (min-width: 40rem) {
  .container {
    padding: 3rem;
  }
}

.testimonials {
  padding-block: 2rem;

  display: flex;
  flex-direction: column-reverse;
}

.testimonials__wrapper {
  padding-block: 2rem;

  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .testimonials__wrapper {
    flex-direction: row;
  }
}

.testimonial {
  border-radius: 2rem;
  background-color: hsl(219, 88%, 84%);
  color: hsl(12, 58%, 15%);
  padding: 2rem;

  flex-basis: 20rem;
  flex-grow: 1;
}

.testimonial__quote {
  font-family: "Instrument Serif", serif;
  font-size: 1.8rem;
  line-height: 1.2;
}

.testimonial__image {
  width: 3.6rem;
  border-radius: 10rem;
  border: 1px solid white;
}

.testimonial__name {
  font-weight: 600;
}

.testimonial__position {
  font-size: 0.8rem;
}

.testimonial__footer {
  margin-top: 1rem;

  display: flex;
  gap: 1rem;

  align-items: center;
}

.testimonial--1 {
  order: 3;
}

.testimonial--2 {
  order: 1;
}

.testimonial--3 {
  order: 2;
}
