body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: hsl(21, 100%, 68%);
  background-color: hsl(12, 58%, 15%);
}

h2 {
  font-family: "Instrument Serif", serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.container {
  max-width: 80rem;
  margin-inline: auto;
  padding: 3rem;
  display: flex;
  gap: 1rem;
}

.testimonials {
  padding-block: 2rem;

  display: flex;
  flex-direction: column-reverse;
}

.testimonials__wrapper {
  padding-block: 2rem;
}

.testimonial {
  width: 22rem;
  border-radius: 2rem;
  background-color: hsl(219, 88%, 84%);
  color: hsl(12, 58%, 15%);
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial__quote {
  font-family: "Instrument Serif", serif;
  font-size: 1.8rem;
  line-height: 1.2;
}

.testimonial__image {
  width: 3.6rem;
  border-radius: 10rem;
  border: 1px solid white;
}

.testimonial__name {
  font-weight: 600;
}

.testimonial__position {
  font-size: 0.8rem;
}

.testimonial__footer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
