body {
  font-family: sans-serif;
}

header,
footer {
  padding: 2rem;
  text-align: center;
  background-color: hsl(0, 0%, 75%);
}

main {
  max-width: 50rem;
  margin-inline: auto;
  margin-block: 2rem;
  padding-inline: 2rem;

  min-height: 100vh;

  /* position: relative; */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

@media (min-width: 40rem) {
  .container {
    flex-direction: row;
  }
}

article {
  padding: 1rem;

  flex-grow: 1;

  position: relative;
}

.one {
  background-color: hsl(181, 61%, 58%);

  /* position: absolute;
  top: 2rem;
  left: 2rem; */
}

.two {
  background-color: hsl(56, 63%, 66%);
}

.three {
  background-color: hsl(120, 47%, 57%);
}

article p {
  padding: 0.4rem;
  background-color: white;

  position: absolute;
  bottom: 0;
  right: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.subtitle {
  position: sticky;
  top: 112px;
  background-color: white;
  z-index: 2;
}
