body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  font-family: sans-serif;
}

.animate {
  font-size: 4rem;
  width: 5rem;
  height: 5rem;
  background-color: red;

  animation-name: test;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes test {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0.8;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1);
  }

  85% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
