.animation {
  animation-name: heartbeat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes bounce {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  80% {
    transform: scale(1);
  }

  85% {
    transform: scale(1.2);
  }

  90% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}
