/* ================================= GENERAL ================================= */
body {
  font-size: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: hsl(278, 95%, 25%);
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.highlight {
  font-family: "DM Serif Display", serif;
  font-style: italic;
}

/* ================================== HEADER ================================= */
header {
  padding: 1rem;
  background-image: linear-gradient(45deg, hsl(60, 100%, 50%), hsl(335, 55%, 62%));
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;

  margin-bottom: 1rem;
}

@media (min-width: 40rem) {
  .navigation-bar {
    display: flex;
    justify-content: space-between;
  }
}

.nav-list {
  display: flex;
  gap: 1rem;
  justify-content: center;

  list-style: none;
  padding: 0;
}

.nav-list__item {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  color: hsl(278, 95%, 25%);
  border: solid 0.1rem hsl(278, 95%, 25%);
  font-weight: 700;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.nav-list__item:hover {
  background-color: hsl(278, 95%, 25%);
  color: hsl(0, 0%, 100%);
}

.title {
  text-align: center;
  padding: 2rem;
  background-color: hsl(0, 0%, 100%);
  max-width: 45rem;
  margin: 2rem auto 0;
}

/* ================================== CARDS ================================== */
.cards {
  padding: 2rem 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 45rem) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.card {
  display: flex;
}

@media (min-width: 45rem) {
  .card {
    flex-basis: 20rem;
    flex-grow: 1;
  }
}

@media (min-width: 45rem) and (max-width: 60rem) {
  .card:first-child {
    flex-basis: 100%;
  }
}

@media (min-width: 60rem) {
  .card {
    flex-direction: column;
  }
}

.card__content {
  padding: 1rem;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__content h2 {
  font-size: 1.2rem;
}

.card__image {
  background-image: linear-gradient(45deg, hsl(60, 100%, 50%), hsl(335, 55%, 62%));
  display: block;
  min-height: 10rem;

  flex-basis: 8rem;
  flex-shrink: 0;
}

@media (min-width: 45rem) {
  .card__image {
    flex-basis: 50%;
    min-height: 20rem;
  }
}

.card a {
  display: block;
  color: hsl(278, 95%, 25%);
  margin-top: 0.5rem;
  text-decoration: none;
  border-bottom: solid hsl(0, 0%, 50%) 0.05rem;
  transition: color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.card a:hover,
.card a:focus {
  color: hsl(335, 55%, 62%);
  border-color: hsl(335, 55%, 62%);
}

/* ================================ NEWSLETTER =============================== */
.newsletter {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(335, 55%, 62%);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.newsletter__content {
  text-align: center;
}

.newsletter__content h2 {
  font-size: 2rem;
  font-family: "DM Serif Display", serif;
  font-style: italic;
}

.input__label {
  font-weight: 700;
  display: flex;
}

.intput__field {
  padding: 0.5rem;
  background-color: hsl(0, 0%, 100%);
  color: hsl(335, 55%, 62%);
  border: none;
}

.button {
  padding: 0.5rem 1rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 95%, 25%);
  border: none;
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.button:hover {
  background-color: hsl(60, 100%, 50%);
  color: hsl(278, 95%, 25%);
  cursor: pointer;
}

/* ================================== FOOTER ================================= */
footer {
  display: flex;
  gap: 1rem;
  flex-direction: column-reverse;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(45deg, hsl(60, 100%, 50%), hsl(335, 55%, 62%));
}

.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.social a svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  fill: hsl(278, 95%, 25%);
  transition: fill 0.2s ease-in-out;
}

.social a svg:hover,
.social a svg:focus {
  fill: hsl(335, 55%, 62%);
}
