/* general */

body {
  background-color: hsl(0, 0%, 6%);
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: white;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* header */
.header {
  padding: 4rem 0;
}

.header__title {
  font-size: 2.6rem;
  font-weight: 700;
}

.header__intro {
  font-size: 1.375rem;
}

/* stats */

.stats {
  padding: 2rem 0;
}

.stats__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.stat-item {
  background-color: hsl(84, 66%, 70%);
  padding: 2rem;
  border-radius: 1.2rem;
  color: hsl(0, 0%, 6%);
  min-height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stat-item--purple {
  background-color: hsl(241, 100%, 80%);
}

.stat-item--coral {
  background-color: hsl(10, 95%, 66%);
}

.stat-item--blue {
  background-color: hsl(254, 100%, 58%);
  grid-column-start: 1;
  grid-column-end: 3;
}

.stat-item--beige {
  background-color: hsl(33, 52%, 83%);
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.stat-item--mint {
  background-color: hsl(166, 54%, 48%);
  grid-column-start: 1;
  grid-column-end: 3;
}

.stat-item__title {
  font-size: 0.9rem;
  text-transform: uppercase;
  line-height: 1.2rem;
  font-weight: 500;
}

.stat-item__number {
  font-size: 3.75rem;
}

.stat-item__description {
  max-width: 16rem;
  font-size: 0.9rem;
}
