/* verwijder deze code niet */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: rgb(233, 233, 233);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 40rem;
  display: flex;
  background-color: white;
  box-shadow: 0 0 10rem rgba(0, 0, 0, 0.116)

}

img, .card-content {
  width: 50%
}

.card-content {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}