/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start hieronder je CSS regels */
body {
  background-color: hsl(0, 0%, 95%);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

.container {
  flex-basis: 1024px;
  padding: 0 2rem;
}

/* Introduction */

.introduction {
  text-align: center;
  margin-top: 4.5rem;
  margin-bottom: 3.5rem;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1;
  letter-spacing: -0.06rem;
}

.introduction p {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: hsl(0, 0%, 46%);
}

/* Footer */
.footer {
  margin: 3rem auto 6rem;
  max-width: 30rem;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
}

.footer a {
  color: hsl(228, 0%, 59%);
}

.footer a:hover {
  text-decoration: none;
  color: hsl(228, 95%, 59%);
}

.footer a:active {
  color: hsl(228, 95%, 10%);
}

/* Games */
.games {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.game {
  background-color: white;
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 2rem;
  padding: 3rem;
  text-align: center;
  flex-basis: 18rem;
  flex-grow: 1;
}

.game img {
  width: 100%;
  border-radius: 1.3rem;
}

.game h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 110%;
  margin: 2rem 0 2rem 0;
}

.description {
  margin: 2rem 0;
  padding: 1rem 0;
  border-top: 1px dashed hsl(0, 0%, 60%);
  border-bottom: 1px dashed hsl(0, 0%, 60%);
  color: hsl(0, 0%, 40%);
}

.game a {
  display: inline-block;
  border: 1px solid hsl(0, 0%, 60%);
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 2rem;
}

/* extra */
.game a:hover {
  background: hsl(228, 95%, 59%);
  border-color: hsl(228, 95%, 59%);
  color: white;
  transition: 0.2s;
}

.game a:active {
  transform: translateY(2px);
  transition: none;
}
