* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    color: #13152A;
    background-image: url('../images/background.svg');
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-size: contain;
}

.wrapper {
    max-width: 37.5rem;
    margin: 0 auto;
}

h1,
h2 {
    text-align: center;
}

h1 {
    margin-top: 1.875rem;
    font-size: 2.5rem;
}

h2 {
    margin: 1.875rem 0 1.25rem 0;
    font-weight: 400;
}

p {
    margin: 1.25rem 0;
    line-height: 1.5;
}

.align-alter {
    display: block;
    text-align: right;
}

.credits {
    color: white;
    display: block;
    padding: 18.75rem 0 .625rem 0;
}