/* General */

body {
  background-color: rgb(28, 28, 28);
  color: white;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 2rem;
}

h1,
h2,
h3 {
  font-family: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
  line-height: 1.2;
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.6rem;
}

.section-header {
  text-align: center;
  padding: 2rem 0;
}

/* header */

.header {
  text-align: center;
  padding: 4rem 0;
}

/* albums */

.albums {
  background-color: hsl(0, 0%, 23%);
  margin: 1rem;
  border-radius: 1rem;
}

.albums__wrapper {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

@media (min-width: 40rem) {
  .albums__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.album {
  width: 100%;
}

.album:hover .album__vinyl {
  top: -4rem;
}

.album:hover .album__cover {
  transform: scale(1.05);
}

.album:hover .album__media {
  box-shadow: 0 0 1rem hsla(0, 0%, 0%, 0.5);
}

@media (min-width: 40rem) {
  .album {
    flex: 0 0 16rem;
  }
}

@media (min-width: 60rem) {
  .album {
    flex: 1 0 16rem;
  }
}

.album__media {
  aspect-ratio: 1;
  position: relative;

  transition: box-shadow 0.3s ease-in-out;
}

.album__cover {
  border-radius: 0.8rem;
  width: 100%;
  z-index: 1;
  position: relative;

  transition: transform 0.3s ease-in-out;
}

.album__vinyl {
  position: absolute;
  top: 0;
  left: 0;

  transition: top 0.3s ease-in;
}

.album__info {
  padding: 1rem 0;
  text-align: center;
}

.album__artist {
  color: rgb(200, 200, 200);
}

/* track */

.track {
  background-color: hsl(0, 0%, 23%);
  margin: 1rem;
  border-radius: 1rem;
}

.track__wrapper {
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.track__media {
  width: 20rem;
  position: relative;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 40rem) {
  .track__media {
    width: 30rem;
  }
}

.track__cover {
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 40rem) {
  .track__cover {
    width: 10rem;
    height: 10rem;
  }
}

.embed {
  max-width: 40rem;
  margin-top: -5rem;
  position: relative;
  z-index: 1;
}

/*footer */
.footer {
  text-align: center;
  padding: 2rem 0;
  color: rgb(140, 140, 140);
  font-size: 0.9rem;
}
